/*
 * Copyright (c) 2021, ADLINK Technology Inc.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

 /**
 *	External SD card
 */ 
&sdmmc3 {
	mmc-ocr-mask = <0x0>;
	cd-inverted;
	cd-gpios = <&gpio TEGRA_GPIO(P, 2) 0>;
	nvidia,cd-wakeup-capable;
	status = "okay";
};

/**
 *	External Header 
 */

&spi0 {
	status = "disabled";
};

&spi1 {
	status = "okay";

	spi@0 { /* chip select 0 */
		compatible = "spidev";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		controller-data {
			nvidia,enable-hw-based-cs;
			nvidia,rx-clk-tap-delay = <0x10>;
			nvidia,tx-clk-tap-delay = <0x0>;
		};
	};

	spi@1 { /* chip select 1 */
		compatible = "spidev";
		reg = <0x1>;
		spi-max-frequency = <50000000>;
		controller-data {
			nvidia,enable-hw-based-cs;
			nvidia,rx-clk-tap-delay = <0x10>;
			nvidia,tx-clk-tap-delay = <0x0>;
		};
	};
};

&spi2 {
	status = "okay";

	spi@0 { /* chip select 0 */
		compatible = "spidev";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		controller-data {
			nvidia,enable-hw-based-cs;
			nvidia,rx-clk-tap-delay = <0x10>;
			nvidia,tx-clk-tap-delay = <0x0>;
		};
	};
};

&spi3 {
	status = "disabled";
};

&i2c3 {

	status = "okay";

	/* for 40 pin GPIO exapnder */
	sx1509_expander: i2c_gpio_expander@70 {
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		compatible = "semtech,sx1509q";
		reg = <0x70>;
		interrupt-parent = <&gpio>;
		interrupts = <TEGRA_GPIO(Z, 0) GPIO_ACTIVE_LOW>;
		gpio-controller;
		interrupt-controller;
	};	
};

/**
 *	Gyro sensor (board has connected to SPI bus, not i2c)
 */
/ {
	bmi160@0 {
		compatible = "bosch,bmi160";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
};

/** 
 *	Audio
 */

&i2c3 {
	rt5640: rt5640@1c {
		status = "okay";
		compatible = "realtek,rt5640";
		reg = <0x1c>;
	};
};


/ {
	tegra_sound: sound {
		status = "okay";
		compatible = "nvidia,tegra-audio-t210ref-mobile-rt565x";
		nvidia,model = "tegra-snd-t210ref-mobile-rt565x";

		clocks = <&tegra_car TEGRA210_CLK_PLL_A>,
			 <&tegra_car TEGRA210_CLK_PLL_A_OUT0>,
			 <&tegra_car TEGRA210_CLK_EXTERN1>;
		clock-names = "pll_a", "pll_a_out0", "extern1";

		assigned-clocks = <&tegra_car TEGRA210_CLK_EXTERN1>;
		assigned-clock-parents = <&tegra_car TEGRA210_CLK_PLL_A_OUT0>;

		nvidia,num-codec-link = <1>;

		nvidia,audio-routing =
			"x Headphone Jack", "x HPOL",
			"x Headphone Jack", "x HPOR";
			
		nvidia,xbar = <&tegra_axbar>;
		mclk-fs = <256>;

		hdr40_snd_link_i2s: i2s_dai_link1: nvidia,dai-link-1 {
			name-prefix = "x";
			link-name = "rt5640-playback";
			cpu-dai = <&tegra_i2s4>;
			cpu-dai-name = "I2S4";
			codec-dai = <&rt5640>;
			codec-dai-name = "rt5640-aif1";
			format = "i2s";
			bit-format = "s16_le";
			srate = <48000>;
			num-channel = <2>;
			status = "okay";
		};
	};
};