/*
 * Copyright (c) 2021, ADLINK Technology Inc.  All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

 /**
 *	External SD card
 */ 
/ {
	sdhci@700b0400 { /* SDMMC3 for SD card */
		status = "okay";
	};
};

/**
 *	External Header 
 */

/**
  *	MRAA SPI0
  */
&spi0 {
	status = "okay";

	spi@0 { /* chip select 0 */
		compatible = "spidev";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		controller-data {
			nvidia,enable-hw-based-cs;
			nvidia,rx-clk-tap-delay = <0x10>;
			nvidia,tx-clk-tap-delay = <0x0>;
		};
	};

	spi@1 { /* chip select 1 */
		compatible = "spidev";
		reg = <0x1>;
		spi-max-frequency = <50000000>;
		controller-data {
			nvidia,enable-hw-based-cs;
			nvidia,rx-clk-tap-delay = <0x10>;
			nvidia,tx-clk-tap-delay = <0x0>;
		};
	};
};

// BMI160
&spi1 {
	status = "okay";

	spi@0 { /* chip select 0 */
		compatible = "spidev";
		reg = <0x0>;
		spi-max-frequency = <50000000>;
		controller-data {
			nvidia,enable-hw-based-cs;
			nvidia,rx-clk-tap-delay = <0x10>;
			nvidia,tx-clk-tap-delay = <0x0>;
		};
	};
};

&spi2 {
	status = "disabled";
};

&spi3 {
	status = "disabled";
};

/** 
  * 	GPIO Expander SX1509
  */

&i2c3 {

	status = "okay";

	/* for 40 pin GPIO exapnder */
	sx1509_expander: i2c_gpio_expander@70 {
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		compatible = "semtech,sx1509q";
		reg = <0x70>;
		interrupt-parent = <&gpio>;
		interrupts = <TEGRA_GPIO(Z, 0) GPIO_ACTIVE_LOW>;
		gpio-controller;
		interrupt-controller;
		hdr_line {
			gpio-hog;
			gpios = <
			0 0
			1 0
			2 0
			3 0
			4 0
			5 0
			6 0
			7 0
			8 0
			9 0
			10 0
			11 0
			12 0
			13 0
			14 0
			15 0
			>;
			output-low;
		};
	};	
};

/**
  * @FAN 
  */

/ {
	tachometer {
        compatible = "nvidia,gpio-tachometer";
        win-len = <2>;
        pulse-per-rev = <2>;
        schedule-delay = <10000>;
        gpio = <&gpio TEGRA_GPIO(DD, 0) 0>;
        status = "okay";
    };

	pwm-fan {
		compatible = "pwm-fan";
		status = "okay";
		pwms = <&tegra_pwm 3 45334>;
		shared_data = <&pwm_fan_shared_data>;
		active_pwm = <0 64 128 191 255 255 255 255 255 255>;
	};

	thermal-fan-est {
		name = "thermal-fan-est";
		compatible = "thermal-fan-est";
		status = "okay";
		num_resources = <0>;
		shared_data = <&thermal_fan_est_shared_data>;
		trip_length = <10>;
		active_trip_temps = <0 46000 61000 76000 81000 140000 150000 160000 170000 180000>;
		active_hysteresis = <0 8000 8000 7000 7000 0 0 0 0 0>;
	};
};

/** 
 *	Audio
 */

&i2c3 {
	rt5640: rt5640@1c {
		status = "okay";
		compatible = "realtek,rt5640";
		reg = <0x1c>;
	};
};

/ {
	ahub {
		i2s@702d1300 {
			status = "okay";
		};
	};

	tegra_sound: sound {
		status = "okay";
		compatible = "nvidia,tegra-audio-t210ref-mobile-rt565x";
		nvidia,model = "tegra-snd-t210ref-mobile-rt565x";

		clocks = <&tegra_car TEGRA210_CLK_PLL_A>,
			 <&tegra_car TEGRA210_CLK_PLL_A_OUT0>,
			 <&tegra_car TEGRA210_CLK_EXTERN1>;
		clock-names = "pll_a", "pll_a_out0", "extern1";

		assigned-clocks = <&tegra_car TEGRA210_CLK_EXTERN1>;
		assigned-clock-parents = <&tegra_car TEGRA210_CLK_PLL_A_OUT0>;

		nvidia,num-codec-link = <1>;

		nvidia,audio-routing =
			"x Headphone Jack", "x HPOL",
			"x Headphone Jack", "x HPOR",
			"x IN1P",           "x Mic Jack",
			"x Mic Jack",       "x MICBIAS1";
			
		nvidia,xbar = <&tegra_axbar>;
		mclk-fs = <512>;

		hdr40_snd_link_i2s: i2s_dai_link1: nvidia,dai-link-1 {
			name-prefix = "x";
			link-name = "rt5640-playback";
			cpu-dai = <&tegra_i2s4>;
			cpu-dai-name = "I2S4";
			codec-dai = <&rt5640>;
			codec-dai-name = "rt5640-aif1";
			format = "i2s";
			bit-format = "s16_le";
			srate = <48000>;
			num-channel = <2>;
			status = "okay";
		};

		nvidia,dai-link-2 {
			status = "disabled";
		};

		nvidia,dai-link-3 {
			status = "disabled";
		};

		nvidia,dai-link-4 {
			status = "disabled";
		};

	};
};